In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('smoking.csv')

In [4]:
# prompt: give me describe of categorical values

data.describe(include='object')

,gender,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,type
count,1691,1691,1691,1691,1691,1691,1691,1691,421
unique,2,5,8,8,7,10,7,2,4
top,Female,Married,No Qualification,English,White,"5,200 to 10,400",Midlands & East Anglia,No,Packets
freq,965,812,586,833,1560,396,443,1270,297

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1691 entries, 0 to 1690
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 1691 non-null   object
 1   age                    1691 non-null   int64
 2   marital_status         1691 non-null   object
 3   highest_qualification  1691 non-null   object
 4   nationality            1691 non-null   object
 5   ethnicity              1691 non-null   object
 6   gross_income           1691 non-null   object
 7   region                 1691 non-null   object
 8   smoke                  1691 non-null   object
 9   amt_weekends           421 non-null    float64
 10  amt_weekdays           421 non-null    float64
 11  type                   421 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 158.7+ KB